@model HonanClaimsWebApi.Models.Policies.PolicyReturnModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <h3>
        Policies
    </h3>

    <div class="col-md-3 mb">
        <div class="row">
            <div class="form-group mb">
                <label class="col-sm-4 control-label input-sm">Policy No</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.PolicyNumber, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb">
        <div class="row">
            <div class="form-group mb">
                <label class="col-sm-4 control-label input-sm">Customer</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Customer, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb">
        <div class="row">
            <div class="form-group mb">
                <label class="col-sm-4 control-label input-sm">Policy Type</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(m => m.PolicyType, new SelectList(Model.PolicyType, "Code", "Text"), "--select--", new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb">
        <div class="row">
            <div class="form-group mb text-center">
                @Html.CheckBoxFor(m => m.IsActive)
                <label class="ml-15 input-sm">Active Only</label>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb">
        <div class="row">
            <div class="form-group mb">
                <label class="col-sm-4 control-label input-sm">Associate</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Associate, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb">
        <div class="row">
            <div class="form-group mb">
                <label class="col-sm-4 control-label input-sm">Underwriter</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Underwriter, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb">
        <div class="row">
            <div class="form-group mb">
                <label class="col-sm-4 control-label input-sm">Policy Class</label>
                <div class="col-sm-8">
                   @Html.DropDownListFor(m => m.PolicyClass, new SelectList(Model.PolicyClass, "Code", "Text"), "--select--", new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb">
        <div class="pull-right">
            <button id="clearFilter" type="button" class="btn btn-default  mr-20">Clear Filters</button>
            <button id="filterList" type="button" class="btn btn-primary">Filter Policies</button>
        </div>
    </div>

    <div class="col-md-12 top-padding-eight">
        <div id="grid"></div>
    </div>
</div>

<script>

    $('#IsActive').change(function () {
        if (this.checked) {
            $("#IsActive").val(true);
        } else {
            $("#IsActive").val(false);
        }
    });

    $("#clearFilter").click(function () {
        $("#AccountName").val('');
        $("#AccountType").val('');
        loadPolicy();
    });


    $("#filterList").click(function () {
        loadPolicy();
    });

    $(document).ready(function () {
        loadPolicy();
        $("#IsActive").val(false);
    });


    function loadPolicy() {
        var IsActive = null;
        var PolicyNumber = null;
        var Associate = null;
        var Customer = null;
        var Underwriter = null;
        var PolicyType = null;
        var PolicyClass = null;

        IsActive = $("#IsActive").val();
        PolicyNumber = $("#PolicyNumber").val();
        Associate = $("#Associate").val();
        Customer = $("#Customer").val();
        Underwriter = $("#Underwriter").val();
        PolicyType = $("#PolicyType").val();
        PolicyClass = $("#PolicyClass").val();


        $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: "/Policies/GetPolicyList?IsActive=" + IsActive + "&PolicyNumber=" + PolicyNumber + "&Associate=" + Associate + "&Customer=" + Customer + "&Underwriter=" + Underwriter + "&PolicyType=" + PolicyType + "&PolicyClass=" + PolicyClass
                },
                pageSize: 20
            },
            filterable: true,
            pageSize: 10,
            navigatable: true,
            pageable: true,
            height: 550,
            sortable: true,
            columns: [
                {
                    field: "PolicyNo",
                    title: "Policy Number",
                    template: "<a href='/Policies/PoliciesDetail?PolicyId=#= PolicyId #'>#= PolicyNo #</a>",
                },
                {
                    field: "Customer",
                    template: "<a href='/AccountList/AccountDetail?AccountId=#= CustomerId #'>#= Customer #</a>",
                },

                {
                    field: "InceptionDate",
                    //title: "Inception Date",
                    template: "#if(InceptionDate === null){# '' #}else{# #= kendo.toString(kendo.parseDate(InceptionDate), 'dd-MM-yyyy') #  #}#"
                },
                {
                    field: "ExpiryDate",
                    //title: "Expiry Date",
                    template: '#= kendo.toString(kendo.parseDate(ExpiryDate), "dd/MM/yyyy")#'
                },
                {
                    field: "Associate",
                    template: "#if(ExpiryDate === null){# '' #}else{# #= kendo.toString(kendo.parseDate(ExpiryDate), 'dd-MM-yyyy') #  #}#"
                },
                {
                    field: "Underwriter",
                    title: "Underwriter",
                },
                {
                    field: "PolicyStatus",
                    title: "Policy Status",
                },
            ]
        });
    }

</script>
