@model HonanClaimsWebApi.Models.Policies.PolicyReturnModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Policy</h2>


<div class="col-md-4">
    <div class="col-md-12">
        <div class="form-group mb">
            <label class="col-sm-2">Activ only:</label>
            <div class="col-sm-10">
                <div>
                    @Html.CheckBoxFor(m => m.IsActive)
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="col-md-12">
        <div class="form-group mb">
            <label class="col-sm-2">Contact Name:</label>
            <div class="col-sm-10">
                <div>
                    @Html.TextBoxFor(m => m.PolicyNumber, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="col-md-12">
        <div class="form-group mb">
            <label class="col-sm-2">Contact Name:</label>
            <div class="col-sm-10">
                <div>
                    @Html.TextBoxFor(m => m.Associate, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="col-md-12">
        <div class="form-group mb">
            <label class="col-sm-2">Contact Name:</label>
            <div class="col-sm-10">
                <div>
                    @Html.TextBoxFor(m => m.Customer, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="col-md-12">
        <div class="form-group mb">
            <label class="col-sm-2">Contact Name:</label>
            <div class="col-sm-10">
                <div>
                    @Html.TextBoxFor(m => m.Underwriter, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="form-group">
        <label for="sel1">Account Type</label>
        @Html.DropDownListFor(m => m.PolicyType, new SelectList(Model.PolicyType, "Code", "Text"), "--select--", new { @class = "form-control" })
    </div>
</div>

<div class="col-md-4">
    <div class="form-group">
        <label for="sel1">Account Type</label>
        @Html.DropDownListFor(m => m.PolicyClass, new SelectList(Model.PolicyClass, "Code", "Text"), "--select--", new { @class = "form-control" })
    </div>
</div>


<div class="col-md-4">
    <div class="col-md-4">
        <button id="clearFilter" type="button" class="btn btn-default">Clear Filters</button>
        <button id="filterList" type="button" class="btn btn-default">Filter Accounts</button>
    </div>
</div>

<div class="col-md-12">
    <div id="grid"></div>
</div>

<script>

    $('#IsActive').change(function () {
        if (this.checked) {
            $("#IsActive").val(true);
        } else {
            $("#IsActive").val(false);
        }
    });

        $("#clearFilter").click(function () {
            $("#AccountName").val('');
            $("#AccountType").val('');
            loadPolicy();
        });


        $("#filterList").click(function () {
            loadPolicy();
        });

        $(document).ready(function () {
            loadPolicy();
            $("#IsActive").val(false);
        });


        function loadPolicy() {
            var IsActive = null;
            var PolicyNumber = null;
            var Associate = null;
            var Customer = null;
            var Underwriter = null;
            var PolicyType = null;
            var PolicyClass = null;

            IsActive = $("#IsActive").val();
            PolicyNumber = $("#PolicyNumber").val();
            Associate = $("#Associate").val();
            Customer = $("#Customer").val();
            Underwriter = $("#Underwriter").val();
            PolicyType = $("#PolicyType").val();
            PolicyClass = $("#PolicyClass").val();
           

            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: "/Policies/GetPolicyList?IsActive=" + IsActive + "&PolicyNumber=" + PolicyNumber + "&Associate=" + Associate+ "&Customer=" + Customer + "&Underwriter=" + Underwriter + "&PolicyType=" + PolicyType+ "&PolicyClass=" + PolicyClass
                    },
                    pageSize: 20
                },
                filterable: true,
                pageSize: 10,
                navigatable: true,
                pageable: true,
                height: 550,
                sortable: true,
                columns: [
                    {
                        field: "PolicyNo",
                        title: "Policy Number",
                        template: "<a href='/Policies/PoliciesDetail?PolicyId=#= PolicyId #'>#= PolicyNo #</a>",
                    },
                    {
                        field: "Customer",
                        template: "<a href='/Policies/PoliciesDetail?PolicyId=#= PolicyId #'>#= Customer #</a>",
                    },

                    {
                        field: "InceptionDate",
                        title: "Inception Date",
                    },
                    {
                        field: "ExpiryDate",
                        title: "Expiry Date",
                    },
                    {
                        field: "Associate",
                        template: "<a href='/Policies/PoliciesDetail?PolicyId=#= PolicyId #'>#= Associate #</a>",
                    },
                    {
                        field: "Underwriter",
                        title: "Underwriter",
                    },
                    {
                        field: "PolicyStatus",
                        title: "Policy Status",
                    },
                ]
            });
        }

</script>
