@model HonanClaimsWebApi.Models.Policies.PolicyModel

@{
    ViewBag.Title = "PoliciesDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
    <div class="row mb-15">
        <div class="col-md-12">
            <div class="page-title-1">
                <h3>Policies Detail</h3>
            </div>
        </div>
    </div>
    <div class="row mb-15">
        <div class="col-md-6">
            <div class="form-group">
                <label>Policy Number</label>
                @Html.TextBoxFor(m => m.Policy_Number, new { @class = "form-control", @readonly = true })
            </div>
            <div class="form-group">
                <label>Client Name</label>
                @Html.TextBoxFor(m => m.Client_Name, new { @class = "form-control", @readonly = true })
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>


    <div class="main-container">

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Client Code:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Client_Code, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Current Phase:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Current_Phase, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Mark As A Duplicate?:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.CheckBoxFor(m => m.Mark_As_Duplicate, new { @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Policy Class:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Policy_Class, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Associate:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Associate, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Underwriter:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Underwriter, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Acct Mgr Code:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Account_Manager_Code, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>
            ---------------
            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Inception Date P:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Inception_Date, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Inception Date I:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Inception_Date_Invoice, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Expiry Date P:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Expiry_Date, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Expiry Date I:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Expiry_Date_Invoice, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>
            ---------------
            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Renewal Months:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Renewal_Months, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Expires In:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Days_To_Expiry, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Base Premium Amount:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Base_Premium, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Base Premium GST:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Base_Gst, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Fire Services Levy Amount:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Fire_Services_Levy, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Fire Services Levy GST:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Fire_Services_Levy_Gst, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Stamp Duty:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Stamp_Duty, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Underwriter Levy Amount:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Underwriter_Levy, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Underwriter Levy GST:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Underwriter_Levy_Gst, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Total Premium Amount:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Total_Premium, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Total Premium GST:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Total_Premium_Gst, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Policy Fee Premium Amount:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Policy_Fee_Premium, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Policy Fee Premium GST:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Policy_Fee_Premium_Gst, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Commission Premium Amount:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Commission_Premium, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Commission Premium GST:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Commission_Premium_Gst, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Assoc Commission Amount:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Associate_Premium, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Assoc Commission GST:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Associate_Premium_Gst, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Income Amount:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Policy_Income, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Income GST:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Policy_Income_Gst, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Total Total Premium:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Total_Total_Prem, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>
            ----------------
            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Commercial Activity?:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Commercial_Activity, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Commercial Activity Age:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Commercial_Percent, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Claims In Last 5 Years?:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Claims_Last_5Y_Yesnotba, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Claims In Last 5 Years Qty:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Claims_Last_5Y_Number, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Claims In Last 5 Years $:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Claims_Last_5Y_Settled, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>
            -------------------
            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Street Number:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Situation_Street_Number, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Street Name:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Situation_Street, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Suburb:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Situation_Suburb, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">State:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Situation_State, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Postcode:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Situation_Postcode, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Address In WinBEAT:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Situation_Address, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>
            ----------------------
            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Invoiced By User:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Invoiced_By, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Invoiced Date/Time:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Invoiced_On, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Building Sum Insured:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Building_Sum_Insured, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Contents Included:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.CheckBoxFor(m => m.Contents_Included, new { @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Contents Sum Insured:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Contents_Sum_Insured, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Liability Sum Insured:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Liability_Sum_Insured, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">LOR:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Lor, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Cat %:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Cat_Percent, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Office Bearers:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Office_Bearers, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Fidelity:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Fidelity, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Machinery:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Machinery, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Vol Works:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Vol_Works, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Basic Excess:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Basic_Excess, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Special Excess:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Special_Excess, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Year Built:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Year_Built, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Lifts:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Lifts, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Units:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Units, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Levels:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Levels, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Pools:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Pools, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Spas:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Spas, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Tennis:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Tennis, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Gyms:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Gyms, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Jettys:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Jettys, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Occupied?:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Occupied, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Asbestos?:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Asbestos, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">E.P.S?:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Eps, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Defects?:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Defects, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Re-Wired?:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Rewired, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Re-Plumbed?:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Replumbed, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Heritage?:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Heritage, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Holiday Letting?:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Holiday_Letting, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Holiday Letting Percentage:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Holiday_Letting_Percentage, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Onsite Manager?:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Onsite_Manager, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">In WinBEAT:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Construction_Summary, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Walls:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Construction_Walls, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Floor:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Construction_Floor, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Roof:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Construction_Roof, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Risk Amounts:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.CheckBoxFor(m => m.Risk_Amounts_Checked, new { @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Risk Amounts Issues:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.CheckBoxFor(m => m.Risk_Amounts_Issue, new { @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Risk Amounts Checked Date:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Risk_Amounts_Checked_On, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Risk Amounts Checked By:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Risk_Amounts_Checked_By, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Risk Details:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.CheckBoxFor(m => m.Risk_Details_Checked, new { @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Risk Details Issues:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.CheckBoxFor(m => m.Risk_Amounts_Issue, new { @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Risk Details Checked Date:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Risk_Details_Checked_On, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Risk Details Checked By:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Risk_Details_Checked_By, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Construction Details:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.CheckBoxFor(m => m.Construction_Checked, new { @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Construction Details Issues:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.CheckBoxFor(m => m.Construction_Issue, new { @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Construction Details Checked Date:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Construction_Checked_On, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Construction Details Checked By:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Construction_Checked_By, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Other Details:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.CheckBoxFor(m => m.Other_Details_Checked, new { @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Other Details Issues</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.CheckBoxFor(m => m.Other_Issue, new { @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Other Details Checked Date:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Other_Details_Checked_On, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Other Details Checked By:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Other_Details_Checked_By, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Mark As Superceded?:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.CheckBoxFor(m => m.Superceded, new { @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Superceded Date:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Superceded_On, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Superceded By:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Superceded_By, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Issues Details:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Issue_Description, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Why Sup/Dup?</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Superseded_Comment, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">F’Floor Cover Required:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Floating_Floor_Cover_Required, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Flood?:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Flood_Cover_Yesnotba, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb">
                    <label class="col-sm-4">Flood Amount:</label>
                    <div class="col-sm-8">
                        <div>
                            @Html.TextBoxFor(m => m.Flood_Cover_Amount, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
