@model HonanClaimsWebApi.Models.Contact.ContactModel

@{
    ViewBag.Title = "ContactDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title">
                <h3>Contact</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Contact Name</label>
                @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control", @readonly = true })
            </div>
            <div class="form-group">
                <label>Account</label>
                @Html.TextBoxFor(m => m.Account, new { @class = "form-control", @readonly = true })
            </div>
            <div class="form-group">
                <label>Title</label>
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @readonly = true })
            </div>
            <div class="form-group">
                <label>Address</label>
                @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @readonly = true })
            </div>
            <div class="form-group">
                <label>Work Phone</label>
                @Html.TextBoxFor(m => m.WorkPhone, new { @class = "form-control", @readonly = true })
            </div>
            <div class="form-group">
                <label>Mobile</label>
                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @readonly = true })
            </div>
            <div class="form-group">
                <label>Fax</label>
                @Html.TextBoxFor(m => m.Fax, new { @class = "form-control", @readonly = true })
            </div>
            <div class="form-group">
                <label>Home Phone</label>
                @Html.TextBoxFor(m => m.Homephone, new { @class = "form-control", @readonly = true })
            </div>
            <div class="form-group">
                <label>E-mail</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = true })
            </div>
            <div class="form-group">
                <label>Website</label>
                @Html.TextBoxFor(m => m.Webaddress, new { @class = "form-control", @readonly = true })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Preferred Contact</label>
                @Html.TextBoxFor(m => m.Preferred_Contact, new { @class = "form-control", @readonly = true })
            </div>
            <div class="form-group col-md-6">
                @Html.CheckBoxFor(m => m.PrimaryContactForAccount, new { @readonly = true })
                <label class="ml-15">Primary contact for account</label>
            </div>
            <div class="form-group col-md-6">
                @Html.CheckBoxFor(m => m.DoNotSolicit, new { @readonly = true })
                <label class="ml-15">Do not solicit</label>
            </div>
            <div class="form-group col-md-6">
                @Html.CheckBoxFor(m => m.AuthorizedServiceContact, new { @readonly = true })
                <label class="ml-15">Authorized service contact</label>
            </div>
            <div class="form-group col-md-6">
                @Html.CheckBoxFor(m => m.DoNotEmail, new { @readonly = true })
                <label class="ml-15">Do not email</label>
            </div>
            <div class="form-group col-md-6">
            </div>
            <div class="form-group col-md-6">
                @Html.CheckBoxFor(m => m.DoNotCall, new { @readonly = true })
                <label class="ml-15">Do not call</label>
            </div>
            <div class="form-group col-md-6">
            </div>
            <div class="form-group col-md-6">
                @Html.CheckBoxFor(m => m.DoNotMail, new { @readonly = true })
                <label class="ml-15">Do not mail</label>
            </div>
            <div class="form-group col-md-6">
            </div>
            <div class="form-group col-md-6">
                @Html.CheckBoxFor(m => m.DoNotFax, new { @readonly = true })
                <label class="ml-15">Do not fax</label>
            </div>
            <div class='row'>
                <div class='col-md-6 col-lg-offset-2'>
                    <hr>
                </div>
            </div>

            <div class="form-group">
                <label>Contact Type</label>
                @Html.TextBoxFor(m => m.Type, new { @class = "form-control", @readonly = true })
            </div>
            <div class="form-group">
                <label>Contact Statu</label>
                @Html.TextBoxFor(m => m.Status, new { @class = "form-control", @readonly = true })
            </div>
            <div class="form-group">
                <label>Account Type</label>
                @Html.TextBoxFor(m => m.AccountType, new { @class = "form-control", @readonly = true })
            </div>
            <div class="form-group">
                <label>Account Status</label>
                @Html.TextBoxFor(m => m.AccountStatus, new { @class = "form-control", @readonly = true })
            </div>
        </div>
    </div>
</div>