@model HonanClaimsWebApiAccess1.Models.TeamGetPortalRegistration.TeamGetPortalRegistrationModel

@{
    ViewBag.Title = "TeamGetPortalRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
    <div class="row mt-20">
        <div class="col-md-6">
            <div class="form-group">
                <label>First Name</label>
                @Html.TextBoxFor(o => o.FirstName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Last Name</label>
                @Html.TextBoxFor(o => o.LastName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Title</label>
                @Html.TextBoxFor(o => o.Title, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Company</label>
                @Html.TextBoxFor(o => o.Company, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Phone</label>
                @Html.TextBoxFor(o => o.Phone, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Email</label>
                @Html.TextBoxFor(o => o.EmailAddress, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Registered</label>
                @Html.TextBoxFor(o => o.RegistrationDate, new { @class = "form-control", @readonly = true })
            </div>
        </div>
    </div>
</div>

<hr />
<div class="main-container">
    <div class="row">
        <div class="col-md-12">
            <h3>CRM Matching Contacts</h3>
            <div id="ContactGrid"></div>
            @*<table class="table table table-bordered">
                <thead>
                    <tr>
                        <th>Contact ID</th>
                        <th>Company</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.MatchingContacts != null)
                    {
                        foreach (var item in Model.MatchingContacts)
                        {
                            <tr class="click-row">
                                <td class="nr">@item.ContactId</td>
                                <td>@item.ContactName</td>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>*@
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @if (Model.MatchingContacts != null)
            {
                <button type="submit" id="btnSaveSelected" class="btn btn-primary mr-20">Use Selected Contact<i class="fa fa-angle-double-right ml-10 mr-10" aria-hidden="true"></i>New Loging</button>
            }
            <button type="submit" id="btnSaveDelete" class="btn btn-default">Discard Login Requestion (Delete)</button>
            <div class="pull-right">
                <button type="submit" id="btnSaveCreate" class="btn btn-primary">Create New Contact</button>
            </div>
        </div>
    </div>

    <input type="hidden" id="ContactId" />

</div>
<script>


    $(document).ready(function() {

        var lines = @Html.Raw(Json.Encode(Model.MatchingContacts));

        var grid = $("#ContactGrid").kendoGrid({
            columns: [
                {
                    field: "AccountName",
                    title: "AccountName"
                },
                {
                    field: "FirstName",
                    title: "FirstName"
                },
                {
                    field: "LastName",
                    title: "LastName"
                }
            ],
            dataSource: {
                data:lines
            },
            selectable: "row",
        });

    });


    //$(".click-row").click(function () {
    //    var $row = $(this).closest("tr");    // Find the row
    //    var text = $row.find(".nr").text(); // Find the text
    //    $("#ContactId").val(text);
    //    debugger;
    //});



    $("#btnSaveSelected").click(function () {
        var portalRegRequestId = @Html.Raw(Json.Encode(@ViewBag.portalRegRequestId));
        var ContactId = $("#ContactId").val();
        var URL = "/AdminList/TeamInsertPortalLoginByContact";
        $.ajax({
            url: URL,
            data: JSON.stringify({ portalRegRequestId: portalRegRequestId, matchingContactId: ContactId, userId:"" }),
            async: false,
            cache: false,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                window.location.href = '/AdminList/AdminList';
            }
        });
    });

    $("#btnSaveCreate").click(function () { 
        var data = [];
        var grid = $("#ContactGrid").data("kendoGrid");
        grid.select().each(function () {
            var dataItem = grid.dataItem($(this));
            data.push(dataItem);
        });
        var portalRegRequestId = @Html.Raw(Json.Encode(@ViewBag.portalRegRequestId));
        var URL = "/NewContactAccount/Index?ajax=true&ContactName=" + data[0].ContactName + "&Phone=" + data[0].Phone + "&Email=" + data[0].Email + "&portalRegRequestId=" + portalRegRequestId;
        $.ajax({
            url: URL,
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                debugger;
                window.location.href = "/NewContactAccount/Index?ajax=false&ContactName=" + data[0].ContactName + "&Phone=" + data[0].Phone + "&Email=" + data[0].Email + "&portalRegRequestId=" + portalRegRequestId;
            }
        });

        @*var portalRegRequestId = @Html.Raw(Json.Encode(@ViewBag.portalRegRequestId));
        var URL = "/AdminList/TeamInsertPortalLoginByContact";
        $.ajax({
            url: URL,
            data: JSON.stringify({ portalRegRequestId: portalRegRequestId, matchingContactId: ContactId, userId:"" }),
            async: false,
            cache: false,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                window.location.href = '/AdminList/AdminList';
            }
        });*@
    });

    $("#btnSaveDelete").click(function () {
        var portalRegRequestId = @Html.Raw(Json.Encode(@ViewBag.portalRegRequestId));
        var URL = "/AdminList/TeamDiscardLoginRequest";
        $.ajax({
            url: URL,
            data: JSON.stringify({ portalRegRequestId: portalRegRequestId }),
            async: false,
            cache: false,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                window.location.href = '/AdminList/AdminList';
            }
        });
    });
</script>
