@model HonanClaimsWebApi.Models.Claim.FileNoteDetailModal

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TempData.Keep();
}


<!-- SELECT2-->
<link rel="stylesheet" href="~/Content/vendor/select2/dist/css/select2.css">
<link rel="stylesheet" href="~/Content/vendor/select2-bootstrap-theme/dist/select2-bootstrap.css">

@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@

<!-- MOMENT JS-->
<script src="~/Content/vendor/moment/min/moment-with-locales.min.js"></script>
<!-- DATETIMEPICKER-->
<link href="~/Content/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Content/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

<script>
    $(function () {

        $('.dateCalendar').datetimepicker({
            format: 'DD/MM/YYYY'
        });

        if (!$('#ClaimRefNo_Fn').is('input:text')) {
            $('#ClaimRefNo_Fn').select2({ width: "100%", theme: "bootstrap" });
        }

        $('#frmileNote').submit(function () {

            if ($(this).valid()) {
                $.LoadingOverlay("show");
            }
        });
    })

    function GetResult_Fn(data) {
        if ($('#FileNoteDetailModal').length > 0) {
            $('#FileNoteDetailModal').modal('hide');
        }

        $.LoadingOverlay("hide");
        RefreshFileNotesGrid();
    }

</script>


@using (Html.BeginForm("NewFileNote", "NewRecord", new { @id = "frmileNote" }))
{
    @Html.HiddenFor(o => o.CreatedBy_Id_Fn)
    @Html.HiddenFor(o => o.ClaimId_Fn)
    @Html.HiddenFor(o => o.H_FileNotesId_Fn)

    <div id="divFake" style="display:none"></div>
    <div class="content-wrapper">
        <h3> New File Note</h3>
        <div class="col-md-6">

            <div class="row">
                <div class="form-group mb">
                    <label class="col-sm-4 control-label input-sm">Claim Ref</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(o => o.ClaimRefNo_Fn, new { @class = "form-control input-sm" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group mb">
                    <label class="col-sm-4 control-label input-sm">File Note Date</label>
                    <div class="col-sm-8">
                        <div class="input-group date dateCalendar" style="width:100%">
                            @Html.TextBoxFor(o => o.FileNoteDate_Fn, new { @class = "form-control input-sm" })
                            <span class="input-group-addon btn btn-info btn-sm btn-outline datebtn" style="padding-bottom: 3.5px;">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6">

            <div class="row">
                <div class="form-group mb">
                    <label class="col-sm-4 control-label input-sm">Created By</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(o => o.CreatedBy_Fn, new { @class = "form-control input-sm disabledControl", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group mb">
                    <label class="col-sm-4 control-label input-sm">Created Date</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(o => o.CreatedDate_Fn, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm disabledControl", @readonly = true })
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-12">

            <div class="row">
                <div class="form-group mb">
                    <label class="col-sm-2 control-label input-sm">Short Description</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(o => o.ShortDescription_Fn, new { @class = "form-control input-sm" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group mb">
                    <label class="col-sm-2 control-label input-sm">Detail</label>
                    <div class="col-sm-10">
                        @Html.TextAreaFor(o => o.Detail_Fn, new { @class = "form-control input-sm" })
                    </div>
                </div>
            </div>
           
        </div>
        <div class="col-md-12 top-padding-eight">
            <div class="footer text-right">
                <button type="button" class="mb-sm btn btn-default" onclick="CloseNewFileNote()" data-dismiss="modal">Discard Changes</button>
                <button type="submit" class="mb-sm btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>

}

<script>
    var kendoAutoCompleteService_By_Name = null;
    $(document).ready(function () {

        jQuery.validator.methods["date"] = function (value, element) { return true; }

        kendoAutoCompleteService_By_Name = $("#ClaimRefNo_Fn").kendoAutoComplete({
            dataTextField: "Text",
            //dataValueField: "ID",
            minLength: 2,
            dataSource: {
                type: "json",
                transport: {
                    read: "/ClaimDetailTabs/AjaxGetAssignedClaimNos?claimNo=",
                }
            },
            filter: "contains",
            select: onSelectService_By_Name,
        }).data("kendoAutoComplete");

        function onSelectService_By_Name(e) {
            var dataItem = this.dataItem(e.item.index());
            $('#ClaimId_Fn').val(dataItem.Code);
            $('#ClaimRefNo_Fn').val(dataItem.Text)
        }
    });

    $('#ClaimRefNo_Fn').keyup(function () {
        var dd = $("#ClaimRefNo_Fn").val();
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/ClaimDetailTabs/AjaxGetAssignedClaimNos?claimNo=" + $("#ClaimRefNo_Fn").val(),
                    dataType: "json"
                }
            }
        });
        kendoAutoCompleteService_By_Name.setDataSource(dataSource);
    });

    function CloseNewFileNote() {
        @{
            var url = Session[HonanClaimsPortal.Helpers.SessionHelper.FromURL].ToString();
        }
        window.location.href = "@url";
    }
</script>





