@model  HonanClaimsWebApi.Models.Claim.KeyContactDateTabModel

@{
    string display = "";
}

<div class="panel panel-default">
    <div class="panel-heading">Key Contacts</div>
    <div class="panel-body">
        <div class="col-md-12 mb">
            <div class="btn-group pull-right">
                <button id="btnRemoveContact" class="btn btn-sm btn-default" onclick="removeKeyContact()">Remove Key Contact</button>
                <button id="btnAddKeyContact" class="btn btn-sm btn-primary" onclick="addNewContact()">Add Key Contact</button>
            </div>

        </div>
        <div class="col-md-12">
            <div id="grdKeyContacts"></div>
        </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">Key Dates</div>
    <div class="panel-body">
        <div class="col-md-12 mb">
            <div class="btn-group pull-right">
                <button id="btnRemoveKeyDate" class="btn btn-sm btn-default" onclick="removeKeyDate()">Remove Key Date</button>
                <button id="btnAddKeyDate" class="btn btn-sm btn-primary" onclick="addKeyDate()">Add Key Date</button>
            </div>

        </div>
        <div class="col-md-12">
            <div id="grdKeyDates"></div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div id="grid"></div>
</div>



<!-- Key Contacts Modal -->
<div id="KeyContactDetailModal" class="modal fade KeyContactDetailModal" role="dialog" data-backdrop="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close KeyContactDetailModalClose" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Key Contact Detail</h4>
            </div>
            <div class="modal-body">
                @{Html.RenderAction("_KeyContactDetail", "ClaimDetailTabs", new { claimId = this.ViewData["claimId"], keyContactId = "" });}

            </div>
        </div>
    </div>
</div>


<!-- Key Date Modal -->
<div id="KeyDateDetailModal" class="modal fade KeyDateDetailModal" role="dialog" data-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Key Date Detail</h4>
            </div>
            <div class="modal-body">
                @{Html.RenderAction("_KeyDateDetail", "ClaimDetailTabs", new { claimId = this.ViewData["claimId"]});}

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        generateKeyContactsGrid();

        generateKeyDateGrid();

         $(".KeyContactDetailModalClose").click(function () {
             $("#H_Claimsid_KCD").val("");
             $("#Contactid_KCD").val("");
             $("#Accountid_KCD").val("");
             $("#Claim_Ref_No_KCD").val("");
             $("#Description_KCD").val("");
             $("#Contact_Name_KCD").val("");
             $("#Account_Name_KCD").val("");
             $("#Email_Address_KCD").val("");
             $("#Phone_KCD").val("");
             $("#Address_KCD").val("");
             $("#Notes_KCD").val("");
             $("#Description").val("");
             $("#H_Keycontactsid").val("");
         });

         $('#btnAddKeyContact').click(function () {
             $('#Claim_Ref_No_KCD').val("@Model.Claim_Ref_No_KCD_Tab");
             $('#H_Claimsid_KCD').val("@Model.ClaimId_KCD_Tab");
         });

         $('#grdKeyContacts').on('hidden.bs.modal', function () {
             generateKeyContactsGrid();
         })

    })


    function removeKeyContact() {
        var grid = $("#grdKeyContacts").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        if (selectedItem != null) {

            //Remove Key Contact
            $.LoadingOverlay("show");
            $.ajax({
                type: "POST",
                url: "/ClaimDetailTabs/DeleteKeyContact",
                data: '{keyContactId: "' + selectedItem.H_Keycontactsid + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $('#grdKeyContacts').data('kendoGrid').dataSource.read();
                    $('#grdKeyContacts').data('kendoGrid').refresh();
                    $.LoadingOverlay("hide");
                },
                failure: function (response) {
                    alert("Failed to Update");
                    $.LoadingOverlay("hide");
                },
                error: function (response) {
                    alert("Failed to Update");


                }
            });
        }
    }

    function removeKeyDate() {
        var grid = $("#grdKeyDates").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        if (selectedItem != null) {

            //Remove Key Date
            $.LoadingOverlay("show");
            $.ajax({
                type: "POST",
                url: "/ClaimDetailTabs/DeleteKeyDate",
                data: '{keyDateId: "' + selectedItem.H_Keydatesid + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $('#grdKeyDates').data('kendoGrid').dataSource.read();
                    $('#grdKeyDates').data('kendoGrid').refresh();
                    $.LoadingOverlay("hide");
                },
                failure: function (response) {
                    alert("Failed to Update");
                    $.LoadingOverlay("hide");
                },
                error: function (response) {
                    alert("Failed to Update");


                }
            });
        }
    }

    function addNewContact() {
        $('#KeyContactDetailModal').modal('show');
    }

    function addKeyDate() {

        $.ajax({
            url: "/ClaimDetailTabs/AjaxGetKeyDateNextSequence?claimId=" + "@Model.ClaimId_KCD_Tab", success: function (result) {
                $("#Seq_KCD_Date").val(result);
                $("#MaxSeq").val(result);

                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth() + 1;
                var yyyy = today.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd;
                }
                if (mm < 10) {
                    mm = '0' + mm;
                }
                $("#Key_Date").val(dd + '/' + mm + '/' + yyyy);
            }
        });
        $('#H_Claimsid_KCD_Date').val("@Model.ClaimId_KCD_Tab");
        $("#H_Keydatesid").val("");
        $('#KeyDateDetailModal').modal('show');
    }

    function generateKeyContactsGrid() {
         $("#grdKeyContacts").kendoGrid({
            dataSource: {
                transport: {
                    read: "/ClaimDetailTabs/AjaxGetKeyContacts?claimId=" + "@Model.ClaimId_KCD_Tab",
                },
                pageSize: 100,
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                },
                batch: false,
            },
            filterable: true,
            pageSize: 20,
            navigatable: true,
            pageable: true,
            sortable: true,
            selectable: "row",
            //dataBound: onDataBound,
            columns: [

                //{
                //    field: "H_Keycontactsid",
                //    visible: false
                //},
                {
                    field: "Description",
                    title: "Description",
                    template: "<a  href='javascript:void(0);' onclick=\"loadKeyContactDetail('#= H_Keycontactsid #')\" '>#=Description#</a>"
                },
                {
                    field: "Account_Name",
                    title: "Account",
                    template: "<a href='/AccountList/AccountDetail?AccountId=#=Accountid#'>#= Account_Name #</a>"
                    //template: '#= kendo.toString(kendo.parseDate(ServiceDate), "dd/MM/yyyy")#'
                },
                {
                    field: "Contact_Name",
                    title: "Contact",
                    template: "<a href='/Contact/ContactDetail?ContactId=#=Contactid#'>#= Contact_Name #</a>"
                },
                {
                    field: "Phone",
                    title: "Phone"
                },
                {
                    field: "Email_Address",
                    title: "Email"
                }
            ]
        });
    }

    function generateKeyDateGrid() {
        var ds = new kendo.data.DataSource({
                transport: {
                    read: "/ClaimDetailTabs/AjaxGetKeyDates?claimId=" + "@Model.ClaimId_KCD_Tab",
                },
                pageSize: 100,
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                },
                batch: false,
        });

         $("#grdKeyDates").kendoGrid({
             dataSource: ds,
            filterable: true,
            pageSize: 20,
            navigatable: true,
            pageable: true,
            sortable: true,
            selectable: "row",
            //dataBound: onDataBound,
            columns: [

                {
                    field: "Seq",
                    title: "Seq",
                },
                {
                    field: "Key_Date_Description",
                    title: "Description",
                    template: "<a  href='javascript:void(0);' onclick=\"loadKeyDateDetail('#= H_Keydatesid #')\" '>#=Key_Date_Description#</a>"
                },
                {
                    field: "Key_Date",
                    title: "Date",
                    template: '#= kendo.toString(kendo.parseDate(Key_Date), "dd/MM/yyyy")#'
                }
            ]
        });
    }

    function loadKeyContactDetail(keyContactId) {
        $.ajax({
            url: "/ClaimDetailTabs/GetKeyContactById?keyContactId=" + keyContactId, success: function (result) {

                $("#H_Claimsid_KCD").val(result.H_Claimsid);
                $("#Contactid_KCD").val(result.Contactid);
                $("#Accountid_KCD").val(result.Accountid);
                $("#Claim_Ref_No_KCD").val(result.Claim_Ref_No);
                $("#Description_KCD").val(result.Description);
                $("#Contact_Name_KCD").val(result.Contact_Name);
                $("#Account_Name_KCD").val(result.Account_Name);
                $("#Email_Address_KCD").val(result.Email_Address);
                $("#Phone_KCD").val(result.Phone);
                $("#Address_KCD").val(result.Address);
                $("#Notes_KCD").val(result.Notes);
                $("#Description").val(result.Description);
                $("#H_Keycontactsid").val(result.H_Keycontactsid);

                $('#KeyContactDetailModal').modal('show');
            }
        });
    }

    function loadKeyDateDetail(keyDateId) {
        $.ajax({
            url: "/ClaimDetailTabs/GetKeyDateById?keyDateId=" + keyDateId, success: function (result) {

                $("#H_Claimsid_KCD_Date").val(result.H_Claimsid);
                $("#H_Keydatesid").val(result.H_Keydatesid);
                $("#Seq_KCD_Date").val(result.Seq);
                $("#Key_Date_Description").val(result.Key_Date_Description);

                var dateString = result.Key_Date.substr(6);
                var currentTime = new Date(parseInt(dateString));
                var month = currentTime.getMonth() + 1;
                var day = currentTime.getDate();
                var year = currentTime.getFullYear();
                var date = day + "/" + month + "/" + year;
                $("#Key_Date").val(date);

                $.ajax({
                    url: "/ClaimDetailTabs/AjaxGetKeyDateNextSequence?claimId=" + "@Model.ClaimId_KCD_Tab", success: function (result) {
                        $("#MaxSeq").val(result - 1);
                    }
                });

                $('#KeyDateDetailModal').modal('show');
            }
        });
    }

</script>

