@model HonanClaimsWebApi.Models.ContactAccountModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "NewContactAccount", FormMethod.Post, new { @class = "", role = "form" }))
{


    <div class="content-wrapper">
        <h3>
            New Contact/Account
        </h3>
        <div class="panel panel-default">
                @ViewBag.Message
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="col-md-12">
                        <fieldset>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="form-group mb">
                                        <label class="col-sm-3 control-label input-sm">Contact</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(m => m.Contact, new { @class = "form-control input-sm" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group mb">
                                        <label class="col-sm-3 control-label input-sm">Account</label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.Account, new { @class = "form-control input-sm" })
                                                @Html.ValidationMessageFor(o => o.Account, String.Empty, new { @class = "parsley-errors-list filled", @style = "color:red" })
                                                @Html.HiddenFor(m => m.AccountId)
                                                <span class="input-group-btn" id="Accountlookup" data-toggle="modal" data-target="#PolicyModal">
                                                    <button type="button" class="mb-sm btn btn-info btn-sm btn-outline" style="padding-bottom: 3.5px">
                                                        <i class="fa fa-binoculars"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group mb">
                                        <label class="col-sm-3 control-label input-sm">Phone</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control input-sm", @type = "number" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group mb">
                                        <label class="col-sm-3 control-label input-sm">Email</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm" })
                                            @Html.ValidationMessageFor(o => o.Email, String.Empty, new { @class = "parsley-errors-list filled", @style = "color:red" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group mb">
                                        <label class="col-sm-3 control-label input-sm">Website</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(m => m.Website, new { @class = "form-control input-sm" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="form-group mb">
                                        <label class="col-sm-3 control-label input-sm">Address 1</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control input-sm" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group mb">
                                        <label class="col-sm-3 control-label input-sm">Address 2</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control input-sm" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group mb">
                                        <label class="col-sm-3 control-label input-sm">City</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(m => m.City, new { @class = "form-control input-sm" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group mb">
                                        <label class="col-sm-3 control-label input-sm">State</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(m => m.State, new { @class = "form-control input-sm" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group mb">
                                        <label class="col-sm-3 control-label input-sm">PostCode</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control input-sm" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="form-group mb text-center">
                                        <h4 class="mb">Contact Information</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group mb">
                                        <label class="col-sm-3 control-label input-sm">Title</label>
                                        <div class="col-sm-9">
                                            @Html.HiddenFor(m => m.Title)
                                            @Html.DropDownListFor(m => m.PickTitle,
                        new SelectList(Model.PickTitle, "Code", "Text"),
                        "--Select--",
                        new { @class = "form-control input-sm", @onchange = "comboTitleChange()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group mb">
                                        <label class="col-sm-3 control-label input-sm">Work Phone</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(m => m.ContactWorkPhone, new { @class = "form-control input-sm", @type = "number" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group mb">
                                        <label class="col-sm-3 control-label input-sm">Mobile</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(m => m.ContactMobile, new { @class = "form-control input-sm" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group mb">
                                        <label class="col-sm-3 control-label input-sm">Fax</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(m => m.ContactFax, new { @class = "form-control input-sm" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="form-group mb text-center">
                                        <h4 class="mb">Account Information</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group mb">
                                        <label class="col-sm-3 control-label input-sm">Phone</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(m => m.AccountPhone, new { @class = "form-control input-sm" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group mb">
                                        <label class="col-sm-3 control-label input-sm">Fax</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(m => m.AccountFax, new { @class = "form-control input-sm" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group mb">
                                        <label class="col-sm-3 control-label input-sm">Type</label>
                                        <div class="col-sm-9">
                                            @Html.HiddenFor(m => m.AccountType)
                                            @Html.DropDownListFor(m => m.PickTypes,
                                            new SelectList(Model.PickTypes, "Code", "Text"),
                                            "--Select--",
                                            new { @class = "form-control input-sm" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group mb">
                                        <label class="col-sm-3 control-label input-sm">Account Manager</label>
                                        <div class="col-sm-9">
                                            @Html.HiddenFor(m => m.AccountManagerName)
                                            @Html.HiddenFor(m => m.AccountManagerId)
                                            <input id="Manager" class="form-control input-sm" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>

                    </div>
                    <div class="col-md-12 mb">
                        <div class="pull-right">
                            <button type="button"id="Cancel" class="btn btn-default mr-20">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
@Html.HiddenFor(m=>m.FromProtal)
@Html.HiddenFor(m=>m.portalRegRequestId)
}

<!--Modal-->
<div id="AccountModal" class="modal fade OcModal" role="dialog" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="cancelBtn" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Account Lookup</h4>
            </div>

            <div class="modal-body">
                <input style="width:200px; text-align:right;" type="text" class="form-control" id="Accsearch">
                <div id="lookupAccountGrid"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    @*$(document).read(function () {
        if(@ViewBag.Message==""|| @ViewBag.Message=="Success: Save successful"){
            clearFileds();
        }else{
            clearFileds();
        }
    });*@

    $("#Cancel").click(function () {
        clearFileds();
    });

    function clearFileds() {
        $("#Contact").val('');
        $("#Phone").val('');
        $("#Account").val('');
        $("#Email").val('');
        $("#Website").val('');
        $("#Address1").val('');
        $("#Address2").val('');
        $("#City").val('');
        $("#State").val('');
        $("#PostCode").val('');
        $("#PickTitle").val('');
        $("#ContactWorkPhone").val('');
        $("#ContactMobile").val('');
        $("#ContactFax").val('');
        $("#AccountPhone").val('');
        $("#AccountFax").val('');
        $("#PickTypes").val('');

    }

  

    $(document).ready(function () {
        LoadMagaer();
        var AccountList = [];

        $('#Accountlookup').click(function () {

            var text = $('#Accsearch').val();
            $.get("/AdminList/GetLookupAccounts?accountName=" + text, function (data) {
                AccountList = data;
                loadgrid();
            });
           
        });

        $('#cancelBtn').click(function () {
            $('#Accsearch').val('');
            AccountList = [];
        })

        function loadgrid() {
            $("#lookupAccountGrid").kendoGrid({
                dataSource: {
                    type: "json",
                    data: AccountList,
                    pageSize: 10
                },
                dataBound: function (e) {
                    if ($('#AccountModal').hasClass('in')) {

                    } else {
                        $('#AccountModal').modal('show');
                    }
                },
                height: 550,
                sortable: true,
                serverPaging: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 10
                },
                columns: [{
                    hidden: true,
                    field: "AccountId",
                    title: "AccountId"
                },
                {
                    template: '<a id="#= AccountId #" onclick="accountClick(this)">#= AccountName #</a>',
                    title: "Account Name",
                },
                {
                    field: "AccountType",
                    title: " Account Type",
                }
                ]
            });

        }

        $("#Accsearch").keyup(function () {
            var val = $('#Accsearch').val();
            if (val.length > 2) {
                AccountList = [];
                $.get("/AdminList/GetLookupAccounts?accountName=" + val, function (data) {
                    AccountList = data;
                    loadgrid();
                });
            } else {
                if (val == null || val == "") {
                    AccountList = [];
                    $.get("/AdminList/GetLookupAccounts?accountName=", function (data) {
                        AccountList = data;
                        loadgrid();
                    });
                }
            }
        });

    })

    function accountClick(e) {
        $('#AccountId').val(e.id);
        $("#Account").val(e.text);
        $('#AccountModal').modal('hide');
        $('#Accsearch').val('');
    }

    function comboTypeChange() {
        $('#AccountType').val($('#PickTypes').val());
    }

    function comboTitleChange() {
        $('#Title').val($('#PickTitle').val());
    }

    function LoadMagaer() {
        debugger;
        var AccountId = $('#AccountManagerId').val();
        if (AccountId != null && AccountId != "") {
            $.get("/NewContactAccount/GetManagerList", function (data) {
                $("#Manager").kendoAutoComplete({
                    dataTextField: "Text",
                    filter: "contains",
                    minLength: 2,
                    dataSource: data,
                    select: onSelect
                });

                var text = getdisplayText(data, AccountId);
                $('#AccountManagerName').val(text);
                $("#Manager").data("kendoAutoComplete").value(text);

            });
        }

        function getdisplayText(listItems, Code) {
            var text = null;
            for (var i = 0; i < listItems.length; i++) {
                if (listItems[i].Code == Code) {
                    text = listItems[i].Text;
                    break;
                }
            }
            return text;
        }

        function onSelect(e) {
            var dataItem = this.dataItem(e.item.index());
            $('#AccountManagerId').val(dataItem.Code);
            $('#AccountManagerName').val(dataItem.Text);

        }
    }

</script>
