@model HonanClaimsWebApi.Models.AccountList.AccountModel

@{
    ViewBag.Title = "AccountDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <h3>Account Detail</h3>

    <div class="row mb-15">
        <div class="col-md-6">
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Account</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.AccountName, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Main Phone</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Mainphone, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Fax:</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Fax, new { @class = "form-control input-sm", @readonly = true })
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Toll Free</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Tollfree, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Web Address</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Webaddress, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Account Manager</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Accountmanager, new { @class = "form-control input-sm", @readonly = true })
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Type</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Type, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Address</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Client Code</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Client_Code, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">States Covered</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.H_Under_States, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">UndAssociate Code:</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Externalaccountno, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Special Notes:</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Notes, new { @class = "form-control input-sm", @readonly = true })
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Under Inits</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.H_Under_Abbrev, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Props HIG Now</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.H_Assoc_Prop_Hig, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Add Next 12 Months</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.H_Assoc_Benchmark, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Pref Prop Format</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.PrefPropFormat, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Renewals Email:</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.H_Under_Renewals_Email, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">New Business Email</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.H_Under_Nb_Email, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Trading Name</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Aka, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Claims Ref Abbrev</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.H_Claim_Ref_Abbr, new { @class = "form-control input-sm", @readonly = true })
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Risksmart Client Group:</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.H_Risksmart_Client_Group, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Billing Method:</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Billing_Method, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Billable Rate</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Billable_Rate, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Service Rate</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Service_Rage, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
         
        </div>

        <div class="col-md-6">
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Annual BSI Increase %</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Bsi_Incr_Pct, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Minimum Catastrophe %:</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Minimum_Cat_Pct, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Minimum Loss of Rent %</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Minimum_Lor_Pct, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Minimum Office Bearers Cover</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Minimum_Ob_Amount, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Minimum Public Liability Cover</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Minimum_Liab_Amt, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Commission Preference</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Gross_Net_Preference, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Proposals to Email address</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Proposals_Email_Address, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <div class="col-md-3">
                    @Html.CheckBoxFor(m => m.Proposal_Recommendation_Reqd, new { @readonly = true, @class = "input-sm" })
                </div>
                <label class="col-md-9 control-label input-sm">Proposal Recommendation Required</label>
            </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Preferred Proposal Format</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Proposal_Type_Name, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Associate Commission %</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Commission_Percentage, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Audit Expenses Cover - Amount</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Audit_Expenses, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Audit Expenses Cover - Words</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Audit_Expenses_String, new { @class = "form-control input-sm", @readonly = true })
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Legal Defence Limit – Amount</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Legal_Defence_Limit, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Legal Defence Limit - Words</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Legal_Defence_String, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">W H & S Cover - Amount</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.W_H_And_S, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">W H & S Cover - Words</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.W_H_And_S_String, new { @class = "form-control input-sm", @readonly = true })</div>
                </div>
            <div class="form-group col-md-12 col-sm-12">
                <label class="col-sm-3 control-label input-sm">Body Corporate Liability</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Body_Corporate_Liability, new { @class = "form-control input-sm", @readonly = true })
                </div>
                </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="pull-right">
                    <button type="button" onclick="Cancel()" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    </div>

<script>
    function Cancel() {
        window.location.href = '/AccountList/Index';
    }

</script>



