@model HonanClaimsWebApi.Models.AccountList.AccountModel

@{
    ViewBag.Title = "AccountDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-container">
    <div class="row mb-15">
        <div class="col-md-12">
            <div class="page-title-1">
                <h3>Account Detail</h3>
            </div>
        </div>
    </div>
    <div class="row mb-15">
        <div class="col-md-6">
            <div class="form-group">
                <label>Account</label>
                @Html.TextBoxFor(m => m.AccountName, new { @class = "form-control", @readonly = true })
            </div>
            <div class="form-group">
                <label>Main Phone</label>
                @Html.TextBoxFor(m => m.Mainphone, new { @class = "form-control", @readonly = true })
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>











    <div class="col-md-5">

    
        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Main Phone:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Mainphone, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Fax:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Fax, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Toll Free:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Tollfree, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Web Address:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Webaddress, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Account Manager:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Accountmanager, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Type:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Type, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Address:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Client Code:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Client_Code, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">States Covered:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.H_Under_States, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">UndAssociate Code:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Externalaccountno, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Special Notes:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Notes, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Under Inits:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.H_Under_Abbrev, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Props HIG Now:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.H_Assoc_Prop_Hig, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Add Next 12 Months:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.H_Assoc_Benchmark, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Pref Prop Format:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.PrefPropFormat, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Renewals Email:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.H_Under_Renewals_Email, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">New Business Email:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.H_Under_Nb_Email, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Trading Name:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Aka, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Claims Ref Abbrev:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.H_Claim_Ref_Abbr, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Risksmart Client Group:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.H_Risksmart_Client_Group, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Billing Method:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Billing_Method, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Billable Rate:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Billable_Rate, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Service Rage:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Service_Rage, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Annual BSI Increase %:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Bsi_Incr_Pct, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Minimum Catastrophe %:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Minimum_Cat_Pct, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Minimum Loss of Rent %:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Minimum_Lor_Pct, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Minimum Office Bearers Cover:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Minimum_Ob_Amount, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Minimum Public Liability Cover:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Minimum_Liab_Amt, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Commission Preference:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Gross_Net_Preference, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Proposals to Email address:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Proposals_Email_Address, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Proposal Recommendation Required:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.CheckBoxFor(m => m.Proposal_Recommendation_Reqd, new { @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Preferred Proposal Format:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Proposal_Type_Name, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Associate Commission %:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Commission_Percentage, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Audit Expenses Cover - Amount:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Audit_Expenses, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Audit Expenses Cover - Words:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Audit_Expenses_String, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Legal Defence Limit – Amount:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Legal_Defence_Limit, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Legal Defence Limit - Words:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Legal_Defence_String, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">W H & S Cover - Amount:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.W_H_And_S, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">W H & S Cover - Words:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.W_H_And_S_String, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mb">
                <label class="col-sm-4">Body Corporate Liability:</label>
                <div class="col-sm-8">
                    <div>
                        @Html.TextBoxFor(m => m.Body_Corporate_Liability, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

   </div>
</div>



